name: Build and Push Docker Image to GHCR

on:
  workflow_dispatch: 
  push:
    branches:
      - main

jobs:
  build-and-publish:
    uses: hollowbytes/hb-shared-workflows/.github/workflows/ci-docker-build.yml@main
    with:
      file: ./src/HbDotnetBff/Dockerfile
